
body {
  margin: 0;
  padding: 0;
  background-image: url('../src/images/wow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

header, h2 {
  color: rgb(175, 191, 209);
  padding: 10px;
  margin: 0;
  text-align: center;
}

p, h3, label {
  font-size: 0.8em;
  color: rgb(118, 165, 209);
  font-family: Helvetica;
  color: rgb(188, 212, 228);
  margin-left: 20px;
  margin-right: 10px
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active){ color: rgb(170, 189, 207);}

@media screen and (max-width: 600px) {
  ul.topnav li {float: none;}
}

li {
  font-size: 0.9em;
  list-style: none;
  margin-left: 20px;
}

a {
  color: rgb(118, 165, 209);
  text-decoration: none;
}

a:hover {
  color: rgb(170, 189, 207);
}

button {
  font-size: .65em;
  color: rgb(28, 63, 179);
  background-color: rgb(156, 195, 231);
  border-radius: 10px;
  margin-left: 5px;
}

button:hover {
  color: rgb(2, 16, 26);
} 

input {
  font-size: 0.9em;
}

input[type=submit] {
  font-size: .65em;
  border-radius: 10px; 
  color: rgb(28, 63, 179);
  background-color: rgb(156, 195, 231);
  border-radius: 10px; 
  margin-left: 20px;
}

input[type="text"] {
  width: 150px;
  height: 15px;
}

